.footer {
  color: var(--secondary);
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}

.link {
  color: var(--secondary);
  text-decoration: none;
}
.link:hover {
  color: var(--accent);
}
